---
import { FormOneClass } from "@/components/react/FormOneClass";
import HeadingH2 from "@/components/HeadingH2.astro";
import Layout from "@/layouts/Layout.astro";
import CardsHours from "@/components/CardsHours.astro";
import HeadingDescription from "@/components/HeadingDescription.astro";
import CardsAdv from "@/components/CardsAdv.astro";
import { advsKids } from "@/data/advs";
import Faqs from "@/components/Faqs.astro";
import { kidsPage } from "@/data/faqs";
import { GLOBAL_DATA } from "@/vars";
import { getEntry } from "astro:content";
import { render } from "astro:content";
import "@/styles/content.css";
import { infantilHours } from "@/data/hours";
import Video from "@/components/Video.astro";
import video from "@/assets/videos/kids.mp4";

const text = await getEntry("seo-texts", "es/jiu-jitsu-infantil")!;
const { Content } = await render(text);

const metaData = {
  metaTitle: "➤ Jiu Jitsu Infantil | Atenea BJJ Team",
  metaDescription:
    "Clases de Jiu-Jitsu para niños en un entorno divertido y seguro. Mejora su confianza, concentración y disciplina mientras se divierte. ¡Prueba una clase gratuita!",
};

const structuredData = {
  "@context": "https://schema.org",
  "@type": "Service",
  serviceType: "Clases de Jiu Jitsu para niños",
  provider: {
    "@type": "SportsActivityLocation",
    name: GLOBAL_DATA.SITE_NAME,
    url: "https://ateneabjjteam.com/",
  },
  areaServed: {
    "@type": "Place",
    address: {
      "@type": "PostalAddress",
      streetAddress: "Calle del Canal de Panamá, 3",
      addressLocality: "Madrid",
      postalCode: "28027",
      addressCountry: "ES",
    },
  },
  description:
    "Clases de Jiu-Jitsu para niños en un entorno divertido y seguro. Mejora su confianza, concentración y disciplina mientras se divierte. ¡Prueba una clase gratuita!",
  offers: {
    "@type": "Offer",
    name: "Clase de prueba gratuita para niños",
    price: "0",
    priceCurrency: "EUR",
    availability: "https://schema.org/InStock",
    url: Astro.url,
  },
};
---

<Layout metaData={metaData}>
  <section class="wrapper above">
    <div class="box-content">
      <h1>Jiu Jitsu Infantil <span>en madrid</span></h1>
      <p class="tagline">
        Diversión, concentración, entrenamiento, disciplina, respeto y
        autoconfianza.
      </p>

      <p class="tagline">
        El Jiu Jitsu le ofrece eso a tu hijo en un ambiente seguro y donde
        aprende algo útil en cada entreno. Reserva ahora una clase gratis y así
        lo prueba.
      </p>
    </div>

    <div class="box-form">
      <FormOneClass
        hours="kids"
        client:visible
        style="OneClass"
        header={{
          h2: "Reserva tu clase de prueba gratis",
          tagline: "te contactaremos para acordar el día y resolver dudas ",
        }}
      />
    </div>
  </section>

  <section class="wrapper flex lg:items-center lg:flex-row flex-col gap-8 mt-6">
    <div class="lg:flex-4/5 phrases">
      <h2>Defensa.</h2>
      <h2>diversión.</h2>
      <h2>autoestima.</h2>
      <h2>confianza.</h2>
      <h2>seguridad.</h2>
    </div>
    <!-- <Video soundoff id="player" src={video} /> -->
    <div class="flex lg:max-h-[90vh]">
      <video
        class="rounded-2xl shadow-2xl object-cover object-[center_30%]"
        muted
        autoplay
        loop
        src={video}></video>
    </div>
  </section>

  <section class="wrapper mt-6">
    <HeadingH2 color="blue">horarios del Jiu Jitsu para niños</HeadingH2>
    <HeadingDescription
      >Aquí están todas las clases de jiu jitsu infantil ordenadas por día,
      según la edad e incluyendo también los horarios de alfombra abierta.</HeadingDescription
    >
    <CardsHours kind="kid" hours={infantilHours} />
  </section>
  <section class="wrapper mt-6">
    <HeadingH2 color="blue"
      >beneficios del Jiu Jitsu brasileño para niños</HeadingH2
    >
    <HeadingDescription
      >Esto es lo que se llevará tu hijo a casa después de cada clase.</HeadingDescription
    >
    <CardsAdv grid={3} cards={advsKids} />
  </section>

  <section class="wrapper-max content-body mt-6">
    <Content />
  </section>

  <div class="wrapper-max mt-3">
    <a href="#reservar" class="btn">Reservar clase gratuita</a>
  </div>

  <section class="wrapper-max mt-6">
    <HeadingH2 color="blue">preguntas frecuentas jiu jitsu para niños</HeadingH2
    >
    <Faqs faqs={kidsPage} />
  </section>

  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify(structuredData)}
  />
</Layout>

<style>
  .above {
    display: flex;
    flex-direction: column;
  }

  .box-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h1 {
    font-family: var(--ff-heading);
    line-height: 1;
    font-size: var(--fs-3xl);
  }

  h1 span {
    display: block;
  }

  .phrases {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--fs-3xl);
  }

  .phrases h2 {
    font-family: var(--ff-heading);
  }

  @media (min-width: 1024px) {
    .box-form {
      flex: 0 0 40%;
    }

    .box-content {
      margin-top: 8rem;
    }

    h1 {
      font-family: var(--ff-heading);
      font-size: var(--fs-4xl);
    }

    .tagline {
      font-size: var(--fs-l);
    }

    .above {
      flex-direction: row;
      gap: 3rem;
      justify-content: space-between;
    }
  }
</style>
