---
import Above from "@/components/Above.astro";
import CardsAdv from "@/components/CardsAdv.astro";
import CardsServices from "@/components/CardsServices.astro";
import CardsStep from "@/components/CardsStep.astro";
import Faqs from "@/components/Faqs.astro";
import HeadingDescription from "@/components/HeadingDescription.astro";
import HeadingH2 from "@/components/HeadingH2.astro";
import ImagesGrid from "@/components/ImagesGrid.astro";
import { MainForm } from "@/components/react/MainForm";
import { Pattern } from "@/components/react/Pattern";
import Section from "@/components/Section.astro";
import { mainClasses, programs } from "@/data/classes";
import { homeFaqs } from "@/data/faqs";
import { imagesHome } from "@/data/images";
import { howStart } from "@/data/steps";
import Layout from "@/layouts/Layout.astro";
import { GLOBAL_DATA } from "@/vars";

const metaData = {
  metaTitle: "➤ Atenea BJJ | Academia de Jiu Jitsu en Madrid",
  metaDescription: GLOBAL_DATA.SITE_DESCRIPTION,
};

const logoPath = "logo-atenea-bjj-team.png";
const tatamiPath = "img/academia-atenea-bjj-team.jpg";

const structuredData = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": Astro.url,
  url: Astro.url,
  name: GLOBAL_DATA.SITE_NAME,
  description: GLOBAL_DATA.SITE_DESCRIPTION,
  inLanguage: "es",
  publisher: {
    "@type": "Organization",
    name: GLOBAL_DATA.SITE_NAME,
    logo: {
      "@type": "ImageObject",
      url: `${Astro.url.origin}${logoPath}`,
    },
  },
};

const localData = {
  "@context": "https://schema.org",
  "@type": "SportsActivityLocation",
  name: GLOBAL_DATA.SITE_NAME,
  image: `${Astro.url}/${tatamiPath}`,
  url: Astro.url,
  description: GLOBAL_DATA.SITE_DESCRIPTION,
  telephone: GLOBAL_DATA.PHONE_DATA,
  address: {
    "@type": "PostalAddress",
    streetAddress: "Calle del Canal de Panamá, 3",
    addressLocality: "Madrid",
    postalCode: "28027",
    addressCountry: "ES",
  },
  geo: {
    "@type": "GeoCoordinates",
    latitude: 40.4401567,
    longitude: -3.6538688,
  },
  openingHours: [
    "Mo 10:30-22:00",
    "Tu 10:30-22:00",
    "We 10:30-22:00",
    "Th 10:30-22:00",
    "Fr 10:30-21:00",
    "Sa 12:00-13:30",
  ],
  areaServed: {
    "@type": "Country",
    name: "España",
  },
};
---

<Layout metaData={metaData}>
  <Above />
  <!-- clases principales -->
  <Section class="first">
    <div class="wrapper">
      <HeadingH2>clases principales</HeadingH2>
      <HeadingDescription>
        Nuestros programas principales están diseñados según cada modalidad y
        adaptados a todos los niveles, garantizando un aprendizaje completo y
        progresivo.
      </HeadingDescription>

      <CardsServices cards={mainClasses} />
    </div>
  </Section>
  <!-- programas -->

  <Section>
    <div class="wrapper">
      <HeadingH2>otras clases</HeadingH2>
      <HeadingDescription>
        Además de nuestros programas principales, contamos con clases
        adicionales diseñadas para ampliar y enriquecer tu formación deportiva,
        adaptadas a tus intereses y necesidades.
      </HeadingDescription>
      <CardsServices cards={programs} style="programs" />
    </div>
  </Section>

  <!-- ventajas -->

  <Section>
    <Pattern>
      <div class="pattern-space wrapper">
        <HeadingH2>beneficios</HeadingH2>
        <HeadingDescription>
          El jiu-jitsu es un arte marcial que fortalece cuerpo y mente. Más que
          un deporte, es una disciplina que promueve el desarrollo personal, la
          confianza y la capacidad de defensa en un entorno seguro y respetuoso.
        </HeadingDescription>
        <CardsAdv />

        <div class="how-star">
          <HeadingH2>cómo empezar</HeadingH2>
          <HeadingDescription>
            Empezar en nuestra academia es un proceso rápido y sencillo. Solo
            tienes que seguir tres pasos para reservar tu clase de prueba y
            comenzar a entrenar. Estarás acompañado en todo momento para que tu
            primera experiencia sea clara, organizada y sin complicaciones.
          </HeadingDescription>
          <CardsStep steps={howStart} />
        </div>

        <MainForm client:visible style="Home" />
      </div>
    </Pattern>
  </Section>

  <!-- escuela -->

  <Section>
    <div class="wrapper school">
      <HeadingH2>sobre la escuela</HeadingH2>
      <HeadingDescription>
        Creemos en el jiu-jitsu como una herramienta para transformar personas.
        En Atenea formamos luchadores con técnica, carácter y valores, en un
        ambiente donde el compromiso y el respeto marcan la diferencia.
      </HeadingDescription>
    </div>

    <ImagesGrid images={imagesHome} />

    <div class="wrapper">
      <HeadingDescription>
        Descubre más sobre nuestra academia, historia, profesores y espacio.
      </HeadingDescription>
      <a class="btn link-page" href="/es/escuela/">Ir a la página</a>
    </div>

    <div class="wrapper-max mt-6">
      <HeadingH2>preguntas frecuentes</HeadingH2>
      <HeadingDescription>
        Si todavía tienes dudas, no te preocupes. En esta sección respondemos a
        las preguntas más frecuentes sobre nuestras clases, horarios, abonos y
        mucho más.
      </HeadingDescription>

      <Faqs faqs={homeFaqs} />
    </div>

    <div class="mt-6 wrapper">
      <HeadingDescription>
        Si tienes alguna duda en particular que no está en la sección de FAQs,
        puedes contactarnos directamente.
      </HeadingDescription>
      <a class="btn link-page" href="/es/contacto/">Contáctanos</a>
    </div>
  </Section>

  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify(structuredData)}
  />

  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify(localData)}
  />
</Layout>

<style>
  .link-page {
    margin-inline: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .how-star {
    margin: 5rem 0;
  }

  /* DESKTOP */
  @media (min-width: 1024px) {
    .link-page {
      width: fit-content;
    }
  }
</style>
