---
import Above from "@/components/Above.astro";
import BtnMainCta from "@/components/BtnMainCta.astro";
import BussinessProfile from "@/components/BussinessProfile.astro";
import CardsAdv from "@/components/CardsAdv.astro";
import CardsServices from "@/components/CardsServices.astro";
import CardsStep from "@/components/CardsStep.astro";
import Faqs from "@/components/Faqs.astro";
import HeadingDescription from "@/components/HeadingDescription.astro";
import HeadingH2 from "@/components/HeadingH2.astro";
import ImagesGrid from "@/components/ImagesGrid.astro";
import { APILocation } from "@/components/react/APILocation";
import { MainForm } from "@/components/react/MainForm";
import { Pattern } from "@/components/react/Pattern";
import Section from "@/components/Section.astro";
import { advsBjj } from "@/data/advs";
import { mainClasses, programs } from "@/data/classes";
import { homeFaqs } from "@/data/faqs";
import { imagesHome } from "@/data/images";
import { howStart } from "@/data/steps";
import Layout from "@/layouts/Layout.astro";
import { GLOBAL_DATA } from "@/vars";
import AcademyImg from "@/assets/deco/academia-atenea-bjj-team.jpg";

const metaData = {
  metaTitle: "Clases de Jiu Jitsu en Madrid | Atenea BJJ Team",
  metaDescription: GLOBAL_DATA.SITE_DESCRIPTION,
};

const logoPath = "logo-atenea-bjj-team.png";

const structuredData = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": `${Astro.url.origin}/#website`,
  url: Astro.url.origin,
  name: GLOBAL_DATA.SITE_NAME,
  description: GLOBAL_DATA.SITE_DESCRIPTION,
  inLanguage: "es",
  publisher: {
    "@type": "Organization",
    "@id": `${Astro.url.origin}/#organization`,
    name: GLOBAL_DATA.SITE_NAME,
    logo: {
      "@type": "ImageObject",
      url: `${Astro.url.origin}/${logoPath}`,
    },
  },
};

const localData = {
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "@id": `${Astro.url.origin}/#organization`,
  name: GLOBAL_DATA.SITE_NAME,
  image: `${Astro.url.origin}/${AcademyImg.src}`,
  logo: `${Astro.url.origin}/${logoPath}`,
  url: Astro.url.origin,
  description: GLOBAL_DATA.SITE_DESCRIPTION,
  telephone: GLOBAL_DATA.PHONE_DATA,
  email: "info@ateneabjjteam.com",
  priceRange: "€€",
  paymentAccepted: "Efectivo, Tarjeta de Crédito, Transferencia Bancaria",
  address: {
    "@type": "PostalAddress",
    streetAddress: "Calle del Canal de Panamá, 3",
    addressLocality: "Madrid",
    addressRegion: "Comunidad de Madrid",
    postalCode: "28027",
    addressCountry: "ES",
  },
  geo: {
    "@type": "GeoCoordinates",
    latitude: 40.4401567,
    longitude: -3.6538688,
  },
  openingHoursSpecification: [
    {
      "@type": "OpeningHoursSpecification",
      dayOfWeek: ["Monday", "Tuesday", "Wednesday", "Thursday"],
      opens: "07:00",
      closes: "22:00",
    },
    {
      "@type": "OpeningHoursSpecification",
      dayOfWeek: "Friday",
      opens: "10:00",
      closes: "20:30",
    },
    {
      "@type": "OpeningHoursSpecification",
      dayOfWeek: "Saturday",
      opens: "12:00",
      closes: "13:30",
    },
  ],
  areaServed: {
    "@type": "City",
    name: "Madrid",
    containedInPlace: {
      "@type": "Country",
      name: "España",
    },
  },
  sameAs: ["https://www.instagram.com/ateneabjjteam"],
};
---

<Layout metaData={metaData}>
  <Above />
  <!-- clases principales -->
  <Section class="first">
    <div id="clases" class="wrapper">
      <HeadingH2>clases de jiu jitsu</HeadingH2>
      <HeadingDescription>
        En nuestra academia de Jiu Jitsu los programas están diseñados según
        cada modalidad y adaptados a todos los niveles, garantizando un
        aprendizaje completo y progresivo.
      </HeadingDescription>

      <CardsServices cards={mainClasses} />
    </div>
  </Section>
  <!-- programas -->

  <Section>
    <div class="wrapper">
      <HeadingH2>otras clases</HeadingH2>
      <HeadingDescription>
        Además de los programas principales de bjj en Madrid, en Atenea BJJ Team
        contamos con clases adicionales diseñadas para ampliar y enriquecer tu
        formación deportiva, adaptadas a tus intereses y necesidades.
      </HeadingDescription>
      <CardsServices cards={programs} style="programs" />
    </div>
    <!-- API Location-->
    <APILocation client:visible />
  </Section>

  <!-- ventajas -->

  <Section>
    <Pattern>
      <div class="pattern-space wrapper">
        <HeadingH2>beneficios</HeadingH2>
        <HeadingDescription>
          El Jiu-Jitsu es un arte marcial que fortalece cuerpo y mente. Más que
          un deporte, es una disciplina que promueve el desarrollo personal, la
          confianza y la capacidad de defensa en un entorno seguro y respetuoso.
        </HeadingDescription>
        <CardsAdv cards={advsBjj} />

        <div class="how-star">
          <HeadingH2>Comienza ahora</HeadingH2>
          <HeadingDescription>
            Empezar en nuestra escuela es un proceso rápido y sencillo. Solo
            tienes que seguir tres pasos para reservar tu clase de prueba y
            comenzar a entrenar. Estarás acompañado en todo momento para que tu
            primera experiencia sea clara, organizada y sin complicaciones.
          </HeadingDescription>
          <CardsStep steps={howStart} />
        </div>

        <MainForm client:visible style="Home" />
      </div>
    </Pattern>
  </Section>

  <!-- escuela -->

  <Section>
    <div class="wrapper school">
      <HeadingH2>sobre la escuela</HeadingH2>
      <HeadingDescription>
        Creemos en el Jiu-Jitsu como una herramienta para transformar personas.
        En Atenea formamos luchadores con técnica, carácter y valores, en un
        ambiente donde el compromiso y el respeto marcan la diferencia como
        gimnasio de Jiu Jitsu en Madrid.
      </HeadingDescription>
    </div>

    <ImagesGrid images={imagesHome} />

    <div class="wrapper">
      <HeadingDescription>
        Descubre más sobre nuestra academia de Jiu Jitsu Madrid, historia,
        profesores y espacio.
      </HeadingDescription>
      <a class="btn link-page" href="/es/escuela/">Ir a la página</a>
    </div>

    <div class="wrapper-max mt-6">
      <HeadingH2>preguntas frecuentes del BJJ</HeadingH2>
      <HeadingDescription>
        Si todavía tienes dudas, no te preocupes. En esta sección respondemos a
        las preguntas más frecuentes sobre nuestras clases, horarios, gym Jiu
        Jitsu, abonos, y mucho más.
      </HeadingDescription>

      <Faqs faqs={homeFaqs} />
    </div>

    <div class="mt-6 wrapper">
      <HeadingDescription>
        Si tienes alguna duda en particular que no está en la sección de FAQs,
        puedes contactarnos directamente.
      </HeadingDescription>
      <a class="btn link-page" href="/es/contacto/">Contáctanos</a>
    </div>
  </Section>

  <!-- dónde estamos -->

  <Section>
    <div class="wrapper">
      <HeadingH2>dónde estamos</HeadingH2>
      <HeadingDescription>
        Si buscas Jiu Jitsu cerca de ti, nuestra escuela está en el barrio de La
        Concepción, en el distrito de Ciudad Lineal, Madrid. Impartimos clases
        de Jiu Jitsu brasileño con kimono (Gi) y sin kimono (NoGi o Grappling),
        además de programas para niños y sesiones privadas. Ven a entrenar con
        nosotros, te regalamos tu primera clase de prueba.
      </HeadingDescription>
    </div>

    <BussinessProfile />

    <div class="wrapper center-content mt-6">
      <BtnMainCta />
    </div>
  </Section>

  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify(structuredData)}
  />

  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify(localData)}
  />
</Layout>

<style>
  .link-page {
    margin-inline: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .how-star {
    margin: 5rem 0;
  }

  /* DESKTOP */
  @media (min-width: 1024px) {
    .link-page {
      width: fit-content;
    }
  }
</style>
