---
import { Image } from "astro:assets";
import logo from "@/assets/mark/logo.svg";
import WhatsApp from "./icons/WhatsApp.astro";
import Location from "./icons/Location.astro";
import Email from "./icons/Email.astro";
import { GLOBAL_DATA, WHATSAPP_MSG } from "@/vars";
import Phone from "./icons/Phone.astro";
---

<footer>
  <div class="wrapper footer-wrap">
    <Image
      width={100}
      height={100}
      src={logo}
      alt="logo de atenea brazilian jiu jitsu team en madrid"
    />
    <nav>
      <!-- acerca de  -->
      <div>
        <h2>acerca de</h2>
        <ul>
          <li>
            <a href="/es/escuela/"> escuela </a>
          </li>
          <li>
            <a href="/es/clases/"> clases </a>
          </li>
          <li>
            <a href="/es/horarios/"> horarios </a>
          </li>
          <li>
            <a href="/es/precios/"> precios </a>
          </li>
          <li>
            <a href="/es/preguntas-frecuentes/"> FAQs </a>
          </li>
        </ul>
      </div>

      <!-- contacto -->
      <div class="contact-block">
        <h2>contacto</h2>
        <ul>
          <li>
            <a href={GLOBAL_DATA.CALL_LINK}>
              <Phone size={25} />
              {GLOBAL_DATA.PHONE_MASK}
            </a>
          </li>
          <li>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href={WHATSAPP_MSG.GENERAL}
            >
              <WhatsApp size={25} />
              WhatsApp
            </a>
          </li>
          <li>
            <a
              href="https://share.google/YuOBtzMU4CTpmBKmQ"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Location size={25} />
              C/ del Canal de Panamá, 3, 28027, Madrid
            </a>
          </li>
          <li>
            <a href={GLOBAL_DATA.MAIL_TO} target="_blank">
              <Email size={25} />
              {GLOBAL_DATA.MAIL_TEXT}
            </a>
          </li>
        </ul>
      </div>

      <!-- legal -->
      <div>
        <h2>legal</h2>
        <ul>
          <li>
            <a href="/es/legal/politica-privacidad/">política de privacidad</a>
          </li>
          <li>
            <a href="/es/legal/politica-cookies/">política de cookies</a>
          </li>
          <li>
            <a href="/es/legal/aviso-legal/">aviso legal</a>
          </li>
        </ul>
      </div>
      <!-- fin-nav -->
    </nav>
  </div>
</footer>

<style>
  footer {
    background-color: var(--light);
    margin-top: 5rem;
    padding: 2rem 0 5rem;
  }

  .footer-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  ul {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
  }

  h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-xl);
  }

  a {
    font-size: var(--fs-md);
    transition: color 0.3s ease;
  }

  a:hover {
    color: var(--primary);
  }

  .contact-block a {
    display: grid;
    gap: 0.5rem;
    align-items: center;
    /* max-width: 25ch; */
    grid-template-columns: auto auto;
    justify-content: left;
  }

  @media (min-width: 1024px) {
    nav {
      flex-direction: row;
      align-items: flex-start;
      gap: 5rem;
    }
  }
</style>
