---
import { transformDate } from "@/helpers/transformDate";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Date from "./icons/Date.astro";
import Clock from "./icons/Clock.astro";

interface Props {
  post: CollectionEntry<"posts">;
  first: boolean;
}

const { post, first } = Astro.props;
const { data, slug } = post;
const cleanSlug = slug.split("/")[1];
---

<li>
  <a aria-label={`Ir a la página de ${data.h1}`} href={`${cleanSlug}/`}>
    <article>
      <h2>{data.h1}</h2>
      <picture>
        <Image
          widths={[410, 600]}
          sizes={`(max-width: 1024px) 410px,  600px`}
          loading={first ? "eager" : "lazy"}
          src={post.data.image}
          alt={data.h1}
          format="webp"
        />
      </picture>
      <p>{data.metaDescription}</p>
      <footer>
        <span>
          <Date size={20} />

          {transformDate(data.datePublished)}</span
        >
        <span>
          <Clock size={20} />

          {data.readingTime} min de lectura</span
        >
      </footer>
    </article>
  </a>
</li>

<style>
  li {
    display: flex;
  }

  a {
    box-shadow: var(--shadow);
    display: block;
    border-radius: var(--radius);
    transition: transform 0.3s ease;
    overflow: hidden;
  }

  article {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  h2 {
    padding: 1rem;
    text-align: center;
    background-color: var(--black);
    font-size: var(--fs-base);
    color: var(--white);
    line-height: 1.5;
  }

  p {
    font-size: var(--fs-md);
    padding: 2rem;
  }

  footer {
    border-top: 1px solid var(--gray);
    margin: 0 2rem;
    padding: 1rem 0;
    font-size: var(--fs-sm);
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    /* justify-self: flex-end; */
  }

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  /* DESKTOP */

  @media (min-width: 1024px) {
    a:hover {
      transform: scale(1.03);
    }

    h2 {
      font-size: var(--fs-l);
    }
  }
</style>
