---
import type { ScheduleDay } from "@/data/schedule";

interface Props {
  days: ScheduleDay[];
}

const { days } = Astro.props;
---

<ul>
  {
    days.map(({ classes, day }) => {
      const lastVisibleIdx =
        classes.length -
        1 -
        [...classes].reverse().findIndex((c) => c.modality !== "free");
      return (
        <li data-day={day}>
          <header>{day}</header>
          {classes.map((c, i) => (
            <div
              data-modality={c.modality}
              class={i === lastVisibleIdx ? "last-visible" : ""}
            >
              <p class="hour">
                <span>{c.start} - </span>
                <span>{c.end}</span>
              </p>
              <p class="modality">{c.modality}</p>
            </div>
          ))}
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    display: grid;
    gap: 5rem;
  }

  li {
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
  }

  header {
    padding: 1rem;
    background-color: var(--secondary);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--fs-md);
  }

  div {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    font-size: var(--fs-md);
    border-bottom: 1px dashed var(--dark-900);
  }

  div:last-of-type,
  .last-visible {
    border-bottom: none;
  }

  [data-modality="free"] {
    display: none;
  }

  .hour {
    color: var(--primary);
  }

  @media (min-width: 1024px) {
    ul {
      display: none;
    }
  }
</style>
